/* Reset de Estilos Padrão */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* cor de fundo menu */
header { 
    background-color: #0074d9;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

.botao {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.info-contato p {
    margin: 5px 0;
}

/* MENU */
nav {
    background-color: #0074d9;
    position: relative;
    z-index: 2; /* Adicione um z-index para o menu */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: 0.2s;
    transform: scale(1.05);
}

.menu li {
    margin: 0;
    padding: 0;
    position: relative; /* Adicione position: relative; para os itens do menu */
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu li:hover {
    background-color: #3d1adb;
    transition: 0.2s;
    transform: scale(1.05);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0074d9;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px 20px;
}

.dropdown-content a:hover {
    background-color: #0056a0;

}


/* Slids################################ */

/* Configuração do modelo de caixa para todos os elementos */
* {box-sizing: border-box}

/* Estilo básico para o corpo da página */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

/* Ocultar todos os elementos com a classe "mySlides" */
.mySlides {
    display: none;
}

/* Ajustes para as imagens */
img {
    vertical-align: middle;
}

/* Container para o slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Botões de navegação "Anterior" e "Próximo" */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posicionar o botão "Próximo" à direita */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Quando hover, adicionar uma cor de fundo preta com um pouco de transparência */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Texto de legenda */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Texto de número (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Pontos/Bolhas/Indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Quando ativo ou hover, alterar a cor de fundo */
.active, .dot:hover {
    background-color: #717171;
}

/* Animação de desvanecimento */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Em telas menores, diminuir o tamanho do texto */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px;
    }
}

/* Topicos###################################### */

/* Estilo para a seção aritgos */
.section {
    padding: 80px 0;
    text-align: center;
  }
  
  /* Estilo para o título da seção */
  .section h3 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  
  /* Estilo para o container dos produtos (pizzas) */
  .product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  /* Estilo para os produtos (pizzas) */
  .col-xl-3 {
    box-sizing: border-box;
    padding: 15px;
    flex: 0 0 23%;
  }
  
  .product {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 15px;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .imagen-artigo img {
    width: 100%;
    height: auto;
  }
  
  .titulo-artigo {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
  }
  
  .product-rating {
    color: #ffcc00;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .assunto-artigo-wrap {
    margin-top: 10px;
  }
  
  .assunto-artigo {
    font-size: 20px;
    color: #333;
  }
  
  .assunto-artigo-old {
    color: #999;
    text-decoration: line-through;
    margin-right: 10px;
  }
  
  .botao-artigo {
    margin-top: 20px;
  }
  
  .botao-wrap {
    margin-right: 10px;
  }
  
  .botao {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .botao-link-artigo {
    background-color: #007bff;
    color: #fff;
  }
   
  .product-badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  .product-badge-new {
    background-color: #28a745;
    color: #fff;
  }
  
  .product-badge-sale {
    background-color: #dc3545;
    color: #fff;
  }
  
